body{
	background-color: #f2f2ff;
}

#puzzle{
	width: 600px;
	height: 400px;
	margin: 40px;
	border: 4px solid black;
}

body{
    background-color: #f2f2ff;
}

#puzzle {
    width: 600px;
    height: 400px;
    margin: 40px;
    border: 4px solid black;
}
.topleft {
    position: absolute;
}
img[src="../img/img-2.png"] {
    position: absolute;
    margin-left: 51px;
}
img[src="../img/img-3.png"] {
    position: absolute;
    margin-left: 133px;
}
img[src="../img/img-4.png"] {
    position: absolute;
    margin-left: 190px;
}
img[src="../img/img-5.png"] {
    position: absolute;
    margin-left: 240px;
}
img[src="../img/img-6.png"] {
    position: absolute;
    margin-left: 314px;
}
img[src="../img/img-7.png"] {
    position: absolute;
    margin-left: 378px;
}
img[src="../img/img-8.png"] {
    position: absolute;
    margin-left: 447px;
}
img[src="../img/img-9.png"] {
    position: absolute;
    margin-left: 513px;
}
img[src="../img/img-10.png"] {
    position: absolute;
    margin-left: 564px;
}
img[src="../img/img-11.png"] {
    position: absolute;
    margin-top: 52px;
}
img[src="../img/img-12.png"] {
    position: absolute;
    margin-left: 51px;
    margin-top: 83px;
}
img[src="../img/img-13.png"] {
    position: absolute;
    margin-left: 133px;
    margin-top: 66px;
}
img[src="../img/img-14.png"] {
    position: absolute;
    margin-left: 190px;
    margin-top: 92px;
}
img[src="../img/img-15.png"] {
    position: absolute;
    margin-left: 240px;
    margin-top: 64px;
}
img[src="../img/img-16.png"] {
    position: absolute;
    margin-left: 314px;
    margin-top: 110px;
}
img[src="../img/img-17.png"] {
    position: absolute;
    margin-left: 378px;
    margin-top: 126px;
}
img[src="../img/img-18.png"] {
    position: absolute;
    margin-left: 447px;
    margin-top: 121px;
}
img[src="../img/img-19.png"] {
    position: absolute;
    margin-left: 513px;
    margin-top: 150px;
}
img[src="../img/img-20.png"] {
    position: absolute;
    margin-left: 564px;
    margin-top: 129px;
}
img[src="../img/img-21.png"] {
    position: absolute;
    margin-top: 162px;
}
img[src="../img/img-22.png"] {
    position: absolute;
    margin-left: 51px;
    margin-top: 187px;
}
img[src="../img/img-23.png"] {
    position: absolute;
    margin-left: 133px;
    margin-top: 198px;
}
img[src="../img/img-24.png"] {
    position: absolute;
    margin-left: 190px;
    margin-top: 208px;
}
img[src="../img/img-25.png"] {
    position: absolute;
    margin-left: 240px;
    margin-top: 183px;
}
img[src="../img/img-26.png"] {
    position: absolute;
    margin-left: 314px;
    margin-top: 200px;
}
img[src="../img/img-27.png"] {
    position: absolute;
    margin-left: 378px;
    margin-top: 189px;
}
img[src="../img/img-28.png"] {
    position: absolute;
    margin-left: 447px;
    margin-top: 192px;
}
img[src="../img/img-29.png"] {
    position: absolute;
    margin-left: 513px;
    margin-top: 199px;
}
img[src="../img/img-30.png"] {
    position: absolute;
    margin-left: 564px;
    margin-top: 189px;
}
img[src="../img/img-31.png"] {
    position: absolute;
    margin-top: 237px;
}
img[src="../img/img-32.png"] {
    position: absolute;
    margin-left: 76px;
    margin-top: 237px;
}
img[src="../img/img-33.png"] {
    position: absolute;
    margin-left: 127px;
    margin-top: 237px;
}
img[src="../img/img-34.png"] {
    position: absolute;
    margin-left: 182px;
    margin-top: 237px;
}
img[src="../img/img-35.png"] {
    position: absolute;
    margin-left: 250px;
    margin-top: 237px;
}
img[src="../img/img-36.png"] {
    position: absolute;
    margin-left: 304px;
    margin-top: 237px;
}
img[src="../img/img-37.png"] {
    position: absolute;
    margin-left: 365px;
    margin-top: 237px;
}
img[src="../img/img-38.png"] {
    position: absolute;
    margin-left: 459px;
    margin-top: 237px;
}
img[src="../img/img-39.png"] {
    position: absolute;
    margin-left: 503px;
    margin-top: 237px;
}
img[src="../img/img-40.png"] {
    position: absolute;
    margin-left: 543px;
    margin-top: 237px;
}
img[src="../img/img-41.png"] {
    position: absolute;
    margin-top: 309px;
}
img[src="../img/img-42.png"] {
    position: absolute;
    margin-left: 76px;
    margin-top: 341px;
}
img[src="../img/img-43.png"] {
    position: absolute;
    margin-left: 127px;
    margin-top: 354px;
}
img[src="../img/img-44.png"] {
    position: absolute;
    margin-left: 182px;
    margin-top: 334px;
}
img[src="../img/img-45.png"] {
    position: absolute;
    margin-left: 250px;
    margin-top: 355px;
}
img[src="../img/img-46.png"] {
    position: absolute;
    margin-left: 304px;
    margin-top: 335px;
}
img[src="../img/img-47.png"] {
    position: absolute;
    margin-left: 365px;
    margin-top: 326px;
}
img[src="../img/img-48.png"] {
    position: absolute;
    margin-left: 459px;
    margin-top: 353px;
}
img[src="../img/img-49.png"] {
    position: absolute;
    margin-left: 503px;
    margin-top: 372px;
}
img[src="../img/img-50.png"] {
    position: absolute;
    margin-left: 543px;
    margin-top: 341px;
}
#puzzle:hover {
    margin-left: 400px;
}
